#modaot {
  position: fixed;
  top: 20vh;
  right: 50vw;
  transform: translateX(50%);
  width: 30vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modaot img {
  height: 85%;
  z-index: 1000;
}

#modaot #frame {
  position: absolute;
  width: 30vw;
  height: 75vh;
  z-index: 2000;
}